/* 清空浏览器的默认值 */
* {
    margin: 0;
    padding: 0;
}

/* body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li,form,input,img,textarea,select,iframe{
    margin: 0;
    padding: 0;
} */

/* 去掉超链接的下划线 */
a {
    text-decoration: none;
    /* color:  */
}

/* 去掉列表符号 */
li {
    list-style: none;
}

/* 图片向下撑大3px */
img {
    vertical-align: middle;
    border: none;
}

/* 万能清除法 */
.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.l {
    float: left;
}

.r {
    float: right;
}

.safe {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

/* 导航 */
body {
    background: #f8f3ed;
}

header {
    height: 100px;
    background: #fff;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div h1 {
    width: 20%;
    height: 59%;
    background: url(./img/logo.png) no-repeat center;
    font-size: 0;
    background-size: 100%;
}

header ul {
    display: flex;
    width: 57.54098360655738%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

header div ul li {
    display: flex;
    padding: 20px;
}

header ul li:nth-of-type(1) {
    background: #000;
}

header ul li:nth-of-type(1) a {
    color: #fff;
}

header ul li a {
    font-size: 16px;
    white-space: nowrap;
    color: #000;
}

/* 轮播图 */
.banner {
    height: 500px;
    overflow: hidden;
}

.banner1 {
    width: 200%;
    height: 500px;
    animation: aberox 6s infinite steps(2);
}

.banner1:hover {
    animation: aberox 6s infinite steps(2) paused;
}

.banner1 img {
    width: 50%;
    float: left;
}

@keyframes aberox {
    to {
        margin-left: -200%;
    }
}

/* 图文区域 */
main {
    display: flex;
    padding: 55px 0;
    justify-content: space-around;
}

main div {
    width: 30.32786885245902%;
    background: #fff;
}

main div img {
    width: 100%;
}

main div h3 {
    text-align: center;
    padding-top: 14px;
    color: gray;
    padding-bottom: 29px;
}

main div p {
    font-size: 12px;
    line-height: 2;
    padding: 0 20px;
    color: gray;
}

main div img {
    width: 100%;
}

main div a {
    width: 62px;
    height: 62px;
    display: block;
    margin: 44px auto 20px;
    border: 1px dashed gray;
    color: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 62px;
}

#p2 {
    margin: 66px auto 20px;
}


/* 圆圈图片 */
section {
    background: url(./img/bg.jpg);
    padding: 30px 0 34px;
}

section div ul {
    display: flex;
    flex-wrap: wrap;
}

section div ul li {
    width: 25%;
    text-align: center;
}

section div ul li p {
    padding-top: 15px;
}

/* 产品中心 */
figure {
    padding-top: 35px;
}

figure h3 {
    background: url(./img/title.png) no-repeat center bottom;
    text-align: center;
    font-weight: normal;
    padding-bottom: 46px;
}

figure ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure ul li {
    width: 23.278688524590163%;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 4px;
    margin-top: 30px;
    background: #fff;
    box-shadow: 6px 6px 0px #dedede;
}

figure ul li img {
    width: 100%;
}

figure ul li p {
    text-align: center;
    color: gray;
}

/* 最新动态 */

article {
    padding: 65px 0 60px;
}

article h3 {
    background: url(./img/title.png) no-repeat center bottom;
    text-align: center;
    font-weight: normal;
    padding-bottom: 46px;
}

.art1 {
    margin: 22px 0 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.l {
    width: 39.75409836065574%;
}

.l img {
    width: 100%;
}

.r {
    width: 55.73770491803279%;
}

.r ul li:nth-of-type(2) {
    margin: 22px 0;
}

.r ul li {
    height: 102px;
    display: flex;
}

.r ul li img {
    width: 22.94117647058824%;
    padding-right: 22px;
}

.r ul li h4 {
    font-size: 16px;
    font-weight: normal;
}

.r ul li p {
    margin: 15px 0;
    font-size: 12px;
}

.r ul li a {
    font-size: 12px;
    color: #d68c37;
}

/* 底部 */
footer {
    background: #323232;
}

.foo0 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foo1 {
    display: flex;
    padding: 15px 0 35px;
}

.foo2 {
    margin-top: 46px;
}

.foo1 img {
    width: 100px;
    height: 100px;
    margin-right: 14px;
}

footer li {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}


@media(min-width:0) and (max-width:623px) {
    header div {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        flex-direction: column;
    }

    main div {
        margin-bottom: 20px;
        width: 100%;
    }

    section div {
        flex-flow: column;
    }

    section div ul li {
        width: 50%;
        margin-bottom: 20px;
    }

    figure ul li {
        width: 46%;
    }

    .art1 {
        flex-direction: column;
    }

    .l {
        width: 100%;
        margin-bottom: 50px;
    }

    .r {
        width: 100%;
    }

    .foo0 {
        flex-direction: column;
    }
}