* {
    margin: 0;
    padding: 0;
}

section {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    position: absolute;
    animation: 6s aberox infinite linear;
    transform-style: preserve-3d;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
    opacity: 0.5;
    position: absolute;
    transition: .5s;
}

p {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
    opacity: .7;
    position: absolute;
    transition: .5s;
    background: lightseagreen;
    left: 50px;
    top: 50px;
}

span {
    height: 30px;
    width: 30px;
    background: #00f;
    border-radius: 50%;
    display: block;
    display: flex;
}

.tou1 {
    justify-content: center;
    align-items: center;
    background: palegoldenrod;
    transform: translatez(100px);
}

.tou1 span {
    background: #f00;
}

.tou2 {
    justify-content: space-around;
    align-items: center;
    background: palegreen;
    transform: translatez(-100px);
}

.tou3 {
    justify-content: space-around;
    background: paleturquoise;
    transform: rotateX(90deg) translatez(100px);
}

.tou3 span:nth-of-type(2) {
    align-self: center;
}

.tou3 span:nth-of-type(3) {
    align-self: flex-end;
}

nav {
    display: flex;
}

.tou4 {
    flex-direction: column;
    justify-content: space-around;
    background: purple;
    transform: rotateX(90deg) translatez(-100px);

}

.tou4 span {
    background: #f00;
}

.tou4 nav {
    justify-content: space-around;
}

.tou5 {
    flex-direction: column;
    justify-content: space-around;
    background: peru;
    transform: rotatey(90deg) translatez(100px);
}

.tou5 nav {
    justify-content: space-around;
}

.tou6 {
    flex-direction: column;
    justify-content: space-around;
    background: pink;
    transform: rotatey(90deg) translatez(-100px);
}

.tou6 nav {
    justify-content: space-around;
}

section:hover p {
    border-radius: 5%;
    background: aqua;
    border: 1px solid yellow;
}

section:hover div {
    border: 1px solid lawngreen;
}

section:hover .tou1 {
    transform: translatez(200px);
}

section:hover .tou2 {
    transform: translatez(-200px);
}

section:hover .tou3 {
    transform: translatez(200px) rotateX(90deg);
}

section:hover .tou4 {
    transform: translatez(-200px) rotateX(90deg);
}

section:hover .tou5 {
    transform: translatez(200px) rotatey(90deg);
}

section:hover .tou6 {
    transform: translatez(-200px) rotatey(90deg);
}

@keyframes aberox {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

p:nth-of-type(1) {
    transform: translatez(50px);
}

p:nth-of-type(2) {
    transform: translatez(-50px);
}

p:nth-of-type(3) {
    transform: rotatex(90deg) translatez(50px);
}

p:nth-of-type(4) {
    transform: rotatex(90deg) translatez(-50px);
}

p:nth-of-type(5) {
    transform: rotatey(90deg) translatez(50px);
}

p:nth-of-type(6) {
    transform: rotatey(90deg) translatez(-50px);
}