* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 上部导航栏 */
.top {
    height: 103px;
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.top h1 {
    background: url(./麦田国际1.gif) no-repeat 0 23px;
    height: 83px;
    width: 230px;
    text-indent: 60px;
    font-size: 40px;
    color: #f75854;
    font-family:georgia bold italic;
    line-height: 103px;
}

.top p {
    position: absolute;
    top: 30px;
    left: 285px;
    width: 135px;
    height: 40px;
    border-left: 1px solid rgba(217, 217, 217, 0.8);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #989a99;
    font-style: oblique;
}

.top1 {
    position: absolute;
    top: 30px;
    right: 0;
}

.top1 li {
    float: left;
    width: 88px;
    height: 72px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
}

.top1 li:hover {
    background: #f75a53;
}

.top1 li:hover a {
    color: white;
}

.top1 li a {
    text-align: center;
    display: block;
    line-height: 72px;
    font-size: 14px;
    color: black;
}

/* 图片滚动区域 */
.pic {
    height: 457px;
    overflow: hidden;
}

.pic1 {
    width: 200%;
    height: 457px;
    animation: 6s infinite aberox steps(2);
}

.pic1 p {
    width: 50%;
    height: 457px;
    float: left;
}

.pic1 img {
    width: 50%;
}

.p2 {
    background: #b8b2ca;
}

@keyframes aberox {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: -200%;
    }
}

/* 合作商logo区域 */

.cool {
    height: 386px;
    background: #f7f7f7;
}

.coo1 {
    height: 386px;
    width: 1140px;
    margin: 0 auto;
}

.coo1 h2 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    padding-top: 40px;
}

.coo1 p {
    font-size: 14px;
    color: #999997;
    text-align: center;
    margin-top: 17px;
}

.coo1 img {
    text-align: center;
    margin: 30px 0 0 3px;
}

/* 黑色 我们的优势 */
.our {
    height: 545px;
    background: black;
}

.our1 {
    height: 545px;
    width: 1140px;
    margin: 0 auto;
}

.our1 h2 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    color: white;
    padding-top: 54px;
}

.our1>p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 22px;
}

.des {
    margin-right: -58px;
    margin-top: 110px;
}

.des li {
    width: 340px;
    height: 260px;
    background: #cfcfd1;
    float: left;
    margin-right: 58px;
}

.des li h3 {
    font-size: 16px;
    color: #f35b84;
    text-align: center;
    margin-top: 31px;
}

.des li p {
    font-size: 14px;
    margin: 19px 44px 0 44px;
    line-height: 30px;
}

.des1 {
    margin-top: -65px;
    margin-left: 105px;
    height: 130px;
    background: url(./麦田国际4.png) no-repeat;
}

.des2 {
    margin-top: -65px;
    margin-left: 105px;
    height: 130px;
    background: url(./麦田国际4.png) no-repeat 0 -162px;
}

.des3 {
    margin-top: -65px;
    margin-left: 105px;
    height: 130px;
    background: url(./麦田国际4.png) no-repeat 0 -325px;
}

/* 成功案例 */
.case {
    height: 810px;
}

.case1 {
    height: 810px;
    width: 1140px;
    margin: 0 auto;
}

/* 标题 */
.case1 h2 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    padding-top: 54px;
}

.case1>p {
    font-size: 14px;
    color: #999997;
    text-align: center;
    margin-top: 22px;
}

/* 导航栏 */
.case2 {
    height: 40px;
    width: 800px;
    background: #666666;
    margin: 35px auto;
}

.case2 li {
    float: left;
    width: 200px;
    height: 47px;
    line-height: 40px;
    position: relative;
}

.case2 li:hover {
    background: url(./麦田国际5.gif) no-repeat;
}

.case2 li a {
    font-size: 14px;
    color: white;
    text-align: center;
    display: block;
}

.case3 {
    width: 1140px;
    height: 542px;
    position: absolute;
    top: 65px;
    left: -170px;
}

.case4 {
    width: 1140px;
    height: 0px;
    background: aqua;
    position: absolute;
    top: 65px;
    left: -370px;
}

.case2 li:hover .case4 {
    height: 542px;
}

/* 底部新闻 */
.new {
    height: 350px;
    background: #f2f2f2;
}

.new1 {
    height: 350px;
    width: 1140px;
    margin: 0 auto;
}

.new2 {
    margin-right: -30px;
}

.new2>li {
    width: 360px;
    height: 350px;
    float: left;
    margin-right: 30px;
    position: relative;
}

.new2>li h3 {
    margin-top: 36px;
    font-size: 16px;
}

.news p {
    width: 117px;
    height: 32px;
    background: #f85b54;
    border-radius: 7px;
    position: absolute;
    left: 0;
    bottom: 45px;
    text-align: center;
}

.news p a {
    color: white;
    font-size: 12px;
    line-height: 32px;
}

.news li {
    margin-top: 25px;
    line-height: 30px;
}

.news li a {
    font-size: 12px;
    color: #888689;
    float: left;
}

.news li a:hover {
    color: #f75a53;
}

.news li span {
    font-size: 12px;
    float: right;
    margin-right: 20px;
}

/* 底部导航 */
.low {
    height: 140px;
    background: #363636;
}

.low1 {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.low2 {
    margin-top: 30px;
    display: inline-block;
}

.low2 li {
    float: left;
}

.low2 li a {
    color: #737373;
    margin: 0 10px 0 10px;
    font-size: 12px;
}

.low2 li a:hover {
    color: white;
}

.low2 li span {
    color: #737373;
    font-size: 12px;
}

.low1 p {
    color: #737373;
    font-size: 12px;
    margin-top: 15px;
}


/* 第二页 */
/* 关于我们 */
.about {
    background: url(./麦田国际7.gif);
    height: 201px;
}

.about1 {
    background: url(./麦田国际7.gif);
    height: 201px;
    width: 1140px;
    margin: 0 auto;
}

.about1 h2 {
    font-weight: normal;
    color: white;
    font-size: 22px;
    display: inline-block;
    margin-top: 68px;
}

.about1 span {
    font-size: 17px;
    color: #ffb2ae;
    vertical-align: auto;
}

.about1 p {
    font-size: 12px;
    color: #ffb2ae;
    margin-top: 26px;
}

.about1 p a {
    color: white;
}

/* 第二导航栏 */
.nav {
    height: 60px;
    background: #f7f7f7;
}

.nav1 {
    height: 60px;
    background: #f7f7f7;
    width: 1140px;
    margin: 0 auto;
}

.nav1 ul {
    float: right;
    line-height: 60px;
}

.nav1 ul li {
    float: left;
    margin:0 18px;
}

.nav1 ul li a {
    font-size: 12px;
    color: #676662;
}
/* 关于我们 图文区域 */
.main {
    height: 230px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
}
.main img {
    float: left;
}
.main1 {
    float: right;
    width: 735px;
    height: 225px;
    border-bottom: 1px solid #eee;
}
.main1 h3 {
    font-size: 16px;
    font-weight: normal;
    color: #333532;
}
.main1 p {
    margin-top: 26px;
    font-size: 13.8px;
    color: #676765;
    line-height: 30px;
}
/* 企业使命 图片 */
.ent {
    height: 405px;
    width: 1140px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
.ent h3 {
    font-size: 16px;
    font-weight: normal;
    color: #333532;
    text-align: center;
    padding-top: 30px;
}

.ent1 {
    margin-right: -60px;
    margin-top: 35px;
    height: 228px;
    margin-bottom: 35px;
}
.ent1 li {
    float: left;
    margin-right: 60px;
}
.ent2 {
   
    margin-right: -60px;
}
.ent2 li {
    width: 340px;
    float: left;
    margin-right: 60px;
    text-align: center;
    font-size: 12px;
    color: #676765;
}

/* 办公环境 图 */
.off {
    width: 1140px;
    height: 980px;
    margin: 0 auto;
}

.off h3 {
    font-size: 16px;
    font-weight: normal;
    color: #333532;
    text-align: center;
    padding-top: 35px;
}

.off1 {
    margin-right: -60px;
    margin-top: 35px;
}
.off1 li {
    float: left;
    margin-right: 60px;
    margin-bottom: 50px;
}

/* 第三页 成功案列 图片区域 */
.suc {
    width: 1140px;
    margin: 0 auto;
    height: 931px;
    margin-top: 60px;
}

/* 第四页 正文区域 */
.tex {
    width: 1140px;
    height: 853px;
    margin: 0 auto;
}
.tex1 {
    font-size: 12px;
    color: #666668;
    line-height: 30px;
    margin-top: 31px;
}
.tex1 dt {
    margin-top: 23px;
}
#tex2 {
    color: red;
}